.container {
  border-color: #007bff;
}

.small {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ff8400;
  text-align: left;
  padding-left: 10px;
  /* Align text to the left */
}

.heading {
  margin-bottom: 20px;
  color: #4b456f;
  text-align: left;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(310deg, #000000, #e33f00);
  font-size: 44px;
  font-weight: bold;
  /* Align text to the left */
}

.paragraph {
  font-size: 1.1em;
  text-align: left;
  /* Align text to the left */
  max-width: 600px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.816);
}

.button {
  display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    background-image: linear-gradient(310deg, #ff7800, #e33f00);
    border: none;
    padding: 12px 32px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.button:hover {
  background-color: #ff8400;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(310deg, #e33f00, #ff7800);
}

.link {
  color: #fff;
  text-decoration: none;
}
